@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/** Posicionando os elementos no header */
header {
    background-color: #1AB8EC;
    height: 80px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1040px;
    height: 100%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
}

.links ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/** Estilizando os elementos */

.logo span {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}

nav ul li {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    border: 0.5px solid white;
    padding: 2px 24px;
    border-radius: 36px;
}

.botao button{
    padding: 7px 22px;
    border-radius: 8px;
    border: none;

    color: #1AB8EC;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

/** ------------------------------------------- */

main {
    margin: auto;
    max-width: 1000px;
}

.contentHero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;

    height: calc(90vh - 80px);
}

.contentHero .image {
    background-color: #1AB8EC;
    border-radius: 8px;
    width: 424px;
    height: 270px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contentHero .blockText {
    max-width: 424px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: justify;
    align-items: center;
}

.blockText h1 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.blockText h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.blockText button {
    color: white;
    background-color: #1AB8EC;
    padding: 7px 100px;
    cursor: pointer;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section h2 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

hr {
    width: 80%;
    border: 1px solid #1AB8EC;
}

